.article {
	$article: &;
	display: grid;
	grid-template-areas:
		'article__forehead article__forehead'
		'.                 .'
		'article__banner   article__banner'
		'.                 .'
		'article__aside    article__aside'
		'.                 .'
		'article__main     article__main'
		'.                 .'
		'article__footer   article__footer';
	grid-template-columns: 3fr 2fr;
	grid-template-rows:
		max-content
		$gutter-width + 4
		max-content
		$gutter-width
		max-content
		$gutter-width
		max-content
		$gutter-width
		max-content;

	&__forehead {
		grid-area: article__forehead;

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&__banner {
		grid-area: article__banner;
	}

	&__main {
		grid-area: article__main;

		> * {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__aside {
		display: grid;
		grid-area: article__aside;
		grid-auto-flow: row;
		grid-column-gap: $gutter-width;
		grid-row-gap: $gutter-width;
		grid-template-columns: 1fr;

		@media (min-width: $s) {
			grid-auto-flow: row dense;
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: $m) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media (min-width: $l) {
			align-content: flex-start;
			grid-auto-flow: row;
			grid-row-gap: $gutter-width * 2;
			grid-template-columns: 1fr;
		}
	}

	&__footer {
		grid-area: article__footer;
	}

	&__title {
		--fill: transparent;
		margin-bottom: 1em;
		margin-top: 0;
		padding-bottom: (12 / 25) + em;
		position: relative;

		#{$article} {
			&__datetime {
				align-self: flex-end;
				letter-spacing: normal;
			}
		}
	}

	&__datetime {
		@include text-crop($line-height: 1);
		bottom: 3px;
		color: $dusty-gray;
		font-size: (12 / 15) + rem;
		position: absolute;
		right: 5px;
		text-align: right;
	}

	&__postcard {
		width: 100%;
	}

	&__lean-slider {
		margin-bottom: 20px;
		width: 100%;

		@media (min-width: $s) {
			margin-right: $global-margin;
			max-width: 320px;
		}
	}

	&__mention {
		@media (min-width: $s) {
			grid-auto-flow: row;
			grid-template-areas:
				'mention__media'
				'mention__infoblock'
				'mention__text';
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, max-content);
		}

		@media (min-width: $l) {
			grid-auto-flow: column;
			grid-template-areas:
				'mention__media mention__infoblock'
				'mention__text  mention__text';
			grid-template-columns: 50% 50%;
			grid-template-rows: repeat(2, max-content);
		}
	}

	@media (min-width: $l) {
		grid-column-gap: $gutter-width;
		grid-template-areas:
			'article__forehead article__forehead'
			'.                 .'
			'article__banner   article__banner'
			'.                 .'
			'article__main     article__aside'
			'.                 .'
			'article__footer   article__footer';

		grid-template-columns: 66% 32%;
	}
}
