.breadcrumb {
	$breadcrumb: &;

	&__custom {
		background: none;
		margin: 0 0 $global-margin / 2;
		padding: $global-padding / 2 - 2 0;

		#{$breadcrumb} {
			&__item {
				color: $dusty-gray;
				font-size: (12 / 15) + rem;

				+ #{$breadcrumb}__item {
					padding-left: .5em;

					&::before {
						padding-right: .5em;
					}
				}
			}

			&__link {
				color: $dusty-gray;
				font-size: (12 / 15) + rem;
				text-decoration: none;

				&:visited {
					color: $dusty-gray;
				}
			}
		}
	}

	li {
		&::before {
			display: none;
		}

		+ li {
			margin-top: 0;
		}
	}
}
