.card {
	$card: &;
	background-color: $white;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: $gutter-width / 2;
	grid-template-columns: 100%;
	padding: 15px 20px;
	width: 190px;

	&__media {
		position: relative;

		&-former {
			padding-top: (235 / 150) * 100%;
		}

		&-filler {
			align-items: center;
			bottom: 0;
			display: flex;
			justify-content: center;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
		}

		&-link {
			display: block;
			position: relative;
		}
	}

	&__fastview {
		bottom: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		visibility: hidden;

		&:hover,
		&:active {
			width: 100%;
		}

		@media (max-width: $l - 1) {
			display: none;
		}
	}

	&__image {
		display: block;
		margin: 0 auto;
		object-fit: cover;
	}

	&__body {
		display: grid;
		grid-auto-rows: row;
		grid-row-gap: $gutter-width / 2;
		grid-template-columns: 100%;
		&:empty {
			display: none;
		}
	}

	/* stylelint-disable property-no-vendor-prefix, vendor-no-vendor-prefix, value-no-vendor-prefix */

	&__name {
		@include text-crop($line-height: 17 / 14);
		color: $sandal;
		font-size: (14 / 15) + rem;
		font-weight: 300;
		height: 1em;
		margin: 0;
		overflow: hidden;

		&-link {
			color: $sandal;
			font-size: (14 / 15) + rem;
			font-weight: 300;
		}
	}

	&__description {
		@include text-crop($line-height: 17 / 14);
		color: $black;
		font-size: (14 / 15) + rem;
		font-weight: 300;
		height: (17 / 14) * 5em;
		height: calc(#{(17 / 14) * 5em} - #{(3 / 14) + em});
		margin: 0;
		overflow: hidden;
	}

	/* stylelint-enable property-no-vendor-prefix, vendor-no-vendor-prefix, value-no-vendor-prefix */

	&__properties {
		display: grid;
		grid-auto-flow: row;
		grid-row-gap: $gutter-width / 4;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__property {
		@include text-crop($line-height: 15 / 12);
		color: $dusty-gray;
		font-size: (12 / 15) + rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__actions {
		display: grid;
		grid-auto-flow: column dense;
		grid-gap: $gutter-width / 4;
		grid-template-columns: 1fr max-content;
		justify-content: space-between;
	}

	&__action {
		$action: &;

		&--purchase {
			width: 100%;
		}

		&--favorite {
			$favorite: &;
			font-size: 1rem;
			min-width: 33px;
			stroke-width: 1;

			&:hover,
			&:active,
			&#{$action}--active {
				background-color: $white;
				border-color: $radical-red;
				color: $radical-red;

				.icon {
					fill: #{$radical-red};
					stroke: #{$radical-red};
				}
			}

			.icon {
				fill: #{$white};
				pointer-events: none;
				stroke: #{$radical-red};
				stroke-width: 3;
			}
		}
	}

	&:hover {
		box-shadow: 0 1px 5px $dusty-gray;
	}

	@media (hover: hover) {
		&__actions {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
		}
		&:hover {
			.#{card} {
				&__actions {
					opacity: 1;
					pointer-events: auto;
					visibility: visible;
				}
			}
		}
	}
}
