.customer {
	&__basket {
		font-size: 0;
		letter-spacing: -1px;
		line-height: 0;
		position: relative;

		&:link {
			color: $black-russian;
			display: block;
			text-decoration: none;

			&:visited {
				color: $black-russian;
			}
		}
	}

	&__icon {
		font-size: (19 / strip-unit($font-size-root)) + rem;
		letter-spacing: normal;
		line-height: 1;
	}

	&__badge {
		align-items: center;
		background-color: $radical-red;
		border-radius: 1em;
		display: flex;
		font-size: (8 / strip-unit($font-size-root) + rem);
		letter-spacing: normal;
		min-height: 1.25em;
		min-width: 1.25em;
		// padding: (1 / strip-unit($font-size-root) * 2 + rem) 0 (1 / strip-unit($font-size-root) + rem);
		padding: .125em .25em 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(50%);

		&-overflow {
			color: $white;
			flex-grow: 1;
			font-size: 1em;
			line-height: 1;
			max-width: 2.5em;
			overflow: hidden;
			padding-top: .125em;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
