.dropdown {
	&.show {
		.dropdown-toggle {
			&::after {
				border-bottom: .5485714286em solid $black;
				border-top-width: 0 !important; /* stylelint-disable-line declaration-no-important */
			}
		}
	}

	&-header {
		padding: 1em;
	}

	&-item {
		font-size: $font-size-root;
		padding: .5em 1em;
		text-decoration: none;
	}
}
