.dwarf-menu {
	&__item {
		align-items: center;
		color: $black;
		display: grid;
		font-size: (14 / 15) + rem;
		grid-auto-flow: column;
		grid-column-gap: $gutter-width / 4;
		grid-template-areas: 'dwarf-menu__text dwarf-menu__icon';
		grid-template-columns: repeat(2, auto);
		text-decoration: none;

		&:visited {
			color: $black;
			text-decoration: none;
		}

		&:hover,
		&:active {
			color: $radical-red;
		}
	}

	&__text {
		align-self: center;
		color: inherit;
		font-size: 1em;
		font-weight: 300;
		grid-area: dwarf-menu__text;
		white-space: nowrap;

		&-crop {
			@include text-crop($line-height: 1);
			display: block;
			font-size: 1em;
		}
	}

	&__icon {
		grid-area: dwarf-menu__icon;

		&--heart {
			align-self: center;
			color: $radical-red;
			font-size: (9 / 15) + rem;
		}
	}
}
