.goods-slider {
	padding: 0 25px;
	position: relative;

	&__item {
		padding: $gutter-width / 4;
	}

	&__card {
		margin: 0 auto;
	}

	&__action {
		background: none;
		border: 0;
		cursor: pointer;
		font-size: (18 / 15) + rem;
		line-height: 1;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&--previous {
			left: 0;
		}

		&--forward {
			right: 0;
		}

		&-icon {
			vertical-align: top;
		}

		&.slick-disabled {
			color: $dusty-gray;
			opacity: .3;
			pointer-events: none;
		}
	}
}
