.hashtags {
	&__link {
		@include text-crop($line-height: 1.2, $top-adjustment: 1px);
		color: $dusty-gray;
		float: left;
		font-size: 1rem;
		margin: $global-margin / 4 $global-margin / 2;

		&:hover,
		&:active {
			color: $radical-red;
		}
	}

	&:not(:empty) {
		margin: $global-margin / -4 $global-margin / -2;
	}
}
