.header {
	border-bottom: 1px solid $alto;
	display: grid;
	grid-auto-flow: column dense;
	grid-column-gap: $gutter-width;
	grid-template-areas: 'toggle brand desk';
	grid-template-columns: max-content max-content 1fr;
	padding: 15px 0;

	&__toggle {
		align-items: center;
		display: flex;
		grid-area: toggle;
		width: max-content;
	}

	&__brand {
		align-items: center;
		display: flex;
		grid-area: brand;
		width: max-content;
	}

	&__desk {
		align-items: center;
		display: flex;
		grid-area: desk;
		justify-content: flex-end;
	}

	&__panel {
		justify-content: space-between;
		@media (max-width: $s - 1) {
			grid-template-areas: 'customer';
			grid-template-columns: auto;
		}

		@media (min-width: $s) {
			-ms-grid-columns: auto 1fr auto 1fr auto 1fr auto; /* stylelint-disable-line property-no-vendor-prefix */
			min-width: 50%;
		}
	}

	&__phones,
	&__dwarf-menu,
	&__profile {
		@media (max-width: $s - 1) {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}
	}

	@media (min-width: $s) {
		grid-template-areas: 'brand desk';
		grid-template-columns: max-content 1fr;

		&__toggle {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}
	}
}

@media (min-width: $s) {

	/* stylelint-disable selector-no-vendor-prefix, selector-list-comma-newline-after */

	_:-ms-input-placeholder,
	:root .panel__item {
		padding: 0 $gutter-width / 2;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	/* stylelint-enable selector-no-vendor-prefix, selector-list-comma-newline-after */
}
