@import './func/functions';
@import './mix/mixins';
@import './anim/animations';

@import './conf/configs';
@import '~sassy-normalize/normalize';
@import './icon';

@import './header';
@import './logo';
@import './panel';
@import './phones';
@import './customer';

%visibility-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

%container {
	margin: 0 auto;
	max-width: $container-max-width;
	padding: 0 $global-padding;
}

:root {
	font-family: $font-family-base;
	font-size: $font-size-root;
	height: 100%;
	line-height: $global-line-height;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bg;
	min-height: 100%;
}

.container {
	@extend %container;
}
