@import './func/functions';
@import './mix/mixins';
@import './anim/animations';

@import './conf/configs';
@import '~sassy-normalize/normalize';
@import './icon';

@import './header';
@import './logo';
@import './panel';
@import './phones';
@import './customer';
@import './dwarf-menu';

/* stylelint-disable scss/at-import-no-partial-leading-underscore */

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_dropdown';

/* stylelint-enable scss/at-import-no-partial-leading-underscore */

%visibility-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

%container {
	margin: 0 auto;
	max-width: $container-max-width;
	padding: 0 $global-padding;
}

:root {
	font-family: $font-family-base;
	font-size: $font-size-root;
	height: 100%;
	line-height: $global-line-height;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bg;
	min-height: 100%;
	overflow-x: hidden;
}

.container {
	@extend %container;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}
