@import './func/functions';
@import './mix/mixins';
@import './anim/animations';

@import './conf/configs';
@import '~sassy-normalize/normalize';
@import './icon';

/* stylelint-disable scss/at-import-no-partial-leading-underscore */

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_dropdown';
@import '~bootstrap/scss/_breadcrumb';
@import '~bootstrap/scss/_popover';

/* stylelint-enable scss/at-import-no-partial-leading-underscore */

@import '~slick-carousel/slick/slick';

@import './reboot';
@import './prototypes';
@import './container';
@import './dropdown';
@import './popover';
@import './breadcrumb';
@import './links-group';
@import './hashtags';
@import './logo';
@import './panel';
@import './phones';
@import './customer';
@import './header';
@import './postcard';
@import './socials';
@import './dwarf-menu';
@import './menu';
@import './price';
@import './card';
@import './goods-slider';
@import './payments';
@import './subscribe';
@import './banner';
@import './mention';
@import './review';
@import './article';
@import './lean-slider';
@import './liftMeUp';
@import './footer';

.menu-toggle {
	@include text-crop($line-height: 1);
	align-items: center;
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	font-size: $font-size-root;
	justify-content: center;
	padding: 0;

	&__icon {
		height: (10 / 15) + em;
	}
}

.show-for-l:not(br) {
	@media (max-width: $l - 1) {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}

br.show-for-l { /* stylelint-disable-line selector-no-qualifying-type */
	@media (max-width: $l - 1) {
		display: none;
	}
}

.radical-red {
	color: $radical-red;

	&:visited {
		color: $radical-red;
	}
}

.dusty-gray {
	color: $dusty-gray;

	&:visited {
		color: $dusty-gray;
	}
}

.emperor {
	color: $emperor;

	&:visited {
		color: $emperor;
	}
}

.sandal {
	color: $sandal;

	&:visited {
		color: $sandal;
	}
}

.uppercase {
	text-transform: uppercase;
}
