.liftMeUp {
	background: none;
	border: 1px solid $radical-red;
	border-radius: 50%;
	bottom: 15px;
	cursor: pointer;
	// display: none;
	height: 43px;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 15px;
	width: 43px;

	&::before {
		border-bottom: 20px solid $radical-red;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		content: '';
		left: 50%;
		margin-top: -4px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
