.logo {
	$max-font-size: 35px;
	$min-font-size: 18px;
	display: grid;
	font-size: (strip-unit($min-font-size) / strip-unit($font-size-root) + rem);
	grid-auto-flow: row;
	grid-row-gap: (4 / strip-unit($min-font-size)) + em;
	grid-template-areas:
		'logo__word--black'
		'logo__word--pink';
	grid-template-rows: repeat(2, max-content);
	letter-spacing: (.33333333 / strip-unit($max-font-size)) + em;

	&__word {
		@include text-crop($line-height: 1);
		font-weight: 300;

		&--black {
			color: $black-russian;
			grid-area: logo__word--black;
		}

		&--pink {
			color: $radical-red;
			grid-area: logo__word--pink;
		}
	}

	&:link {
		text-decoration: none;
	}

	@media (min-width: $xxs) {
		font-size: fluid($min-font-size, $max-font-size, $xxs, $l);
	}

	@media (min-width: $l) {
		font-size: (strip-unit($max-font-size) / strip-unit($font-size-root) + rem);
	}
}
