.menu {
	$menu: &;

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: $gutter-width / 100 * 75 / 2 0;

		&:not(:empty) {
			margin: 0 $gutter-width / 100 * 75 / -2;
		}
	}

	&__item {
		align-items: center;
		color: $black;
		display: flex;
		font-size: (14 / 15) + rem;
		padding: (7.5 / 14) + em;

		&--search {
			font-size: (16 / 15) + rem;
			padding-bottom: 0;
			padding-top: 0;

			#{$menu} {
				&__link {
					line-height: 0;

					&::before,
					&::after {
						margin-bottom: 0;
						margin-top: 0;
					}
				}
			}
		}

		&--highlighted {
			color: $radical-red;

			#{$menu} {
				&__link {
					color: $radical-red;
				}
			}
		}
	}

	&__link {
		@include text-crop($line-height: 1);
		color: $black;
		display: block;
		font-size: 1em;
		text-decoration: none;

		&:hover,
		&:active {
			color: $radical-red;
		}
	}

	&:not(:empty) {
		padding: 0 $gutter-width / 100 * 75 / 2;
	}
}
