.panel {
	align-items: center;
	display: grid;
	grid-auto-flow: column dense;
	grid-column-gap: $gutter-width;
	grid-template-areas: 'phones customer';
	grid-template-columns: repeat(2, auto);

	&__phones {
		grid-area: phones;
	}

	&__customer {
		grid-area: customer;
	}
}
