.phones {
	display: grid;
	font-size: (14 / 15) + rem;
	grid-auto-flow: row dense;
	grid-row-gap: $gutter-width / 4;
	list-style: none;
	margin: 0;
	min-width: max-content;
	// padding: (4 / 14 + em) 0 0;
	padding: 0;

	&__item,
	&__link {
		color: $dusty-gray;
		font-size: $font-size-root;
		font-weight: 300;
	}

	&__link {
		@include text-crop($line-height: 1);
		font-size: (14 / 15) + rem;
		text-decoration: none;

		&:visited {
			color: $dusty-gray;
		}
	}
}
