.phones {
	align-items: center;
	display: grid;
	font-size: (14 / 15) + rem;
	grid-auto-flow: row;
	grid-row-gap: (strip-unit($gutter-width / 100 * 75) / 14) + em;
	list-style: none;
	margin: 0;
	min-width: max-content;
	padding: 0;

	&__item,
	&__link {
		color: $dusty-gray;
		font-size: 1em;
		font-weight: 300;
	}

	&__link {
		@include text-crop($line-height: 1);
		display: block;
		text-decoration: none;
		white-space: nowrap;

		&:visited {
			color: $dusty-gray;
		}

		&:hover,
		&:active {
			color: $radical-red;
		}
	}
}

/* stylelint-disable selector-no-vendor-prefix, selector-list-comma-newline-after */

_:-ms-input-placeholder,
:root .phones {
	display: block;
}
_:-ms-input-placeholder,
:root .phones__item {
	padding: (7.5 / 14) + em 0;
	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

/* stylelint-enable selector-no-vendor-prefix, selector-list-comma-newline-after */
