.popover {
	$popover: &;

	&-pointer {
		background-color: $white;
		border: 5px solid $black;
		border-radius: 50%;
		cursor: pointer;
		height: 20px;
		padding: 0;
		width: 20px;

		&[aria-describedby] {
			background-color: $black;
			border-color: $white;
		}
	}

	&--custom {
		border-color: $white;
		border-radius: 0;
		box-shadow: 0 2px 4px $dusty-gray;
		min-width: 150px;

		#{$popover} {
			&-body {
				padding: $global-padding / 2 $global-padding / 2 + 2;
			}

			&-container {
				display: grid;
				grid-auto-flow: row;
				grid-row-gap: $gutter-width / 4;
			}
		}
	}

	&__title {
		color: $black;
		font-size: (14 / 15) + rem;
		font-weight: 300;
		line-height: 1;
	}

	&__link {
		color: $sandal;
		text-decoration: none;

		&:hover,
		&:active {
			color: $radical-red;
		}

		&:visited {
			color: $sandal;

			&:hover,
			&:active {
				color: $radical-red;
			}
		}
	}

	&__about {
		color: $black;
		font-size: (14 / 15) + rem;
		font-weight: 300;
		line-height: (17 / 14);
	}

	&__price {
		color: $black;
		font-size: (14 / 15) + rem;
		font-weight: 500;
		line-height: (17 / 14);
	}
}
