.price {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: $gutter-width / 2;
	grid-template-columns: repeat(auto-fit, minmax(0, max-content));
	justify-content: flex-start;

	&__item {
		color: $black;
		display: grid;
		font-size: (14 / 15) + rem;
		font-weight: 500;
		grid-auto-flow: column;
		grid-column-gap: $gutter-width / 4;
		grid-template-columns: repeat(auto-fit, minmax(0, 100%));
		justify-content: flex-start;

		&:empty {
			display: none;
		}

		&:first-child {
			color: $radical-red;

			&:last-child {
				color: $black;
				text-decoration: none;
			}
		}

		&:last-child {
			color: $dusty-gray;
			text-decoration: line-through;
		}
	}

	&__value {
		@include text-crop($line-height: 17 / 14, $top-adjustment: 1px, $bottom-adjustment: 3px);
		font-size: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:empty {
			display: none;
		}
	}

	&__valuta {
		@include text-crop($line-height: 17 / 14, $top-adjustment: 1px, $bottom-adjustment: 3px);
		font-size: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:empty {
			display: none;
		}
	}
}
