%visibility-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

%container {
	margin: 0 auto;
	max-width: $container-max-width;
	padding: 0 $global-padding;
}

.button {
	$button: &;
	@include text-crop($line-height: 17 / 14);
	align-items: center;
	background-color: $sandal;
	border: 1px solid $sandal;
	color: $white;
	cursor: pointer;
	display: flex;
	font-size: (14 / 15) + rem;
	font-weight: 300;
	height: 44px;
	justify-content: center;
	padding: 1px $global-padding * .75;
	text-align: center;

	&__text {
		flex-grow: 1;
		overflow: hidden;
		text-align: center;
	}

	&__text-crop {
		@include text-crop($line-height: 17 / 14, $top-adjustment: 0, $bottom-adjustment: 1px);
		display: inline-block;
		pointer-events: none;
		vertical-align: middle;
	}

	&:hover,
	&:active {
		background-color: $mongoose;
		border-color: $mongoose;
	}

	&:disabled {
		background-color: $swirl;
		border-color: $swirl;
		cursor: not-allowed;

		&:hover,
		&:active {
			background-color: $swirl;
			border-color: $swirl;
		}
	}

	&--small {
		@include text-crop($line-height: 15 / 12);
		font-size: (12 / 15) + rem;
		height: 30px;
		padding: 1px $global-padding / 4;

		#{button} {
			&__text-crop {
				@include text-crop($line-height: 15 / 12);
			}
		}
	}

	&--gray {
		background-color: $dusty-gray;
		border-color: $dusty-gray;

		&:hover,
		&:active {
			background-color: $dusty-gray;
			border-color: $dusty-gray;
		}
	}



	&--danger {
		background-color: $radical-red;
		border-color: $radical-red;
		color: $radical-red;

		&:hover,
		&:active {
			background-color: $radical-red;
			border-color: $radical-red;
			color: $white;
		}
	}

	&--hollowed {
		background-color: transparent;
	}

	&--expanding {
		#{$button} {
			&__text {
				overflow: hidden;
				white-space: nowrap;
				width: 0;

				+ * {
					margin-left: 0;
				}
			}

			* + #{$button}__text {
				margin-left: 0;
			}
		}

		&:hover,
		&:active {
			#{$button} {
				&__text {
					padding: 0 $global-padding / 4;
					width: auto;

					+ * {
						margin-left: $global-margin / 4;
					}
				}

				* + #{$button}__text {
					margin-left: $global-margin / 4;
				}
			}
		}
	}
}

.input {
	border: 1px solid $dusty-gray;
	color: $black;
	font-size: (14 / 15) + rem;
	height: 44px;
	line-height: 1;
	padding: (4 / 14) + em $global-padding / 100 * 75 1px;

	@include placeholder {
		color: $dusty-gray;
		font-weight: 300;
	}

	&:focus,
	&:active {
		border-color: $black;
	}

	&:disabled {
		background-color: $white;
		border: 1px solid $alto;
		color: $alto;
		cursor: not-allowed;

		@include placeholder {
			color: $alto;
		}

		&:focus,
		&:active {
			border-color: $alto;
			color: $alto;
		}
	}
}
