:root {
	font-family: $font-family-base;
	font-size: $font-size-root;
	height: 100%;
	line-height: $global-line-height;
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	background-color: $body-bg;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;

	.icon {
		font-size: (17 / 25) + em;
	}
}

h1 {
	@include text-crop($line-height: 30 / 25);
	color: $radical-red;
	font-size: (25 / 15) + rem;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: .5em;
	margin-top: 1.75em;
}

h2 {
	@include text-crop($line-height: 24 / 20);
	color: $black;
	font-size: (20 / 15) + rem;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 1em;
	margin-top: 1.75em;

	&.custom-title { /* stylelint-disable-line selector-no-qualifying-type */
		color: $sandal;
		font-style: italic;
	}
}

p {
	@include text-crop();
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 1em;
	margin-top: 1em;
}

blockquote {
	font-weight: 300;
	margin: $global-margin * 1.5;
	position: relative;

	.icon {
		position: absolute;

		&-quotes {
			color: $radical-red;
			left: -26px;
			top: -13px;
		}
	}
}

hr {
	background-color: $dusty-gray;
	border: 0;
	height: 1px;
	margin: $global-margin * 1.5 / 2 0;
}

a {
	text-decoration: none;
}

ol:not(.breadcrumb) {
	counter-reset: section;
	list-style: none;
	margin: $global-margin 0;
	padding-left: 23px;

	li {
		font-weight: 300;
		position: relative;

		&::before {
			align-items: center;
			border: 1px solid $dusty-gray;
			border-radius: 10px;
			color: $dusty-gray;
			content: counter(section);
			counter-increment: section;
			display: flex;
			font-size: 12px;
			height: 20px;
			justify-content: center;
			left: 0;
			line-height: 1;
			margin-left: $global-margin / -4;
			min-width: 20px;
			padding-left: .1em;
			padding-top: .2em;
			position: absolute;
			text-align: center;
			top: 0;
			transform: translateX(calc(-100%));
		}

		+ li {
			margin-top: 8px;
		}
	}

	&.squared { /* stylelint-disable-line selector-no-qualifying-type */
		li {
			&::before {
				border: 0;
				border-radius: 0;
				color: $emperor;
				content: '[' counter(section) ']';
				display: inline-flex;
				font-size: 1em;
				height: auto;
				left: auto;
				line-height: 1;
				margin: 0;
				min-width: auto;
				padding: 0;
				position: static;
				top: auto;
				transform: none;
				transform: translateY((1 / -15 + em));
				vertical-align: text-bottom;
			}
		}
	}

	&.inset { /* stylelint-disable-line */
		padding-left: 0;
	}
}

.big {
	font-size: (25 / 15) + em;
	font-weight: 400;
	letter-spacing: 2px;
}
