:root {
	font-family: $font-family-base;
	font-size: $font-size-root;
	height: 100%;
	line-height: $global-line-height;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bg;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;

	.icon {
		font-size: (17 / 25) + em;
	}
}

h1 {
	font-size: (25 / 15) + rem;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: (30 / 25);
	margin-top: (5 / 25) + em;
}
