.review {
	align-content: flex-start;
	display: grid;
	grid-auto-columns: 1fr max-content;
	grid-auto-flow: column;
	grid-column-gap: $gutter-width;
	grid-row-gap: $gutter-width * .75;
	grid-template-areas:
		'review__media    review__media'
		'review__name     review__socials'
		'review__position review__socials'
		'review__text     review__text';
	grid-template-rows: repeat(auto-fit, minmax(0, max-content));

	&__media {
		grid-area: review__media;
		position: relative;

		&-former {
			padding-top: 100%;
		}

		&-filler {
			align-items: center;
			bottom: 0;
			display: flex;
			justify-content: center;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__image {
		display: block;
		height: 100%;
		margin: 0 auto;
		object-fit: cover;
		width: 100%;
	}

	&__name {
		@include text-crop($line-height: 23 / 15);
		font-size: 1rem;
		font-weight: 400;
		grid-area: review__name;
		margin: 0;
	}

	&__position {
		@include text-crop($line-height: 15 / 12);
		color: $dusty-gray;
		font-size: (12 / 15) + rem;
		font-weight: 300;
		grid-area: review__position;
		margin: 0;
	}

	&__info {
		display: none;
		grid-area: review__info;
	}

	&__socials {
		grid-area: review__socials;

		@media (min-width: $xxs) {
			grid-gap: $gutter-width / 2;
			justify-content: flex-start;

			.socials__item {
				font-size: (20 / 15) + rem;
			}
		}

		@media (min-width: $xs) {
			grid-gap: $gutter-width * .75;

			.socials__item {
				font-size: (30 / 15) + rem;
			}
		}

		@media (min-width: $l) {
			grid-gap: $gutter-width / 2;

			.socials__item {
				font-size: (20 / 15) + rem;
			}
		}
	}

	&__text {
		@include text-crop();
		grid-area: review__text;
	}

	@media (min-width: $xxs) {
		grid-template-areas:
			'review__media review__name'
			'review__media review__position'
			'review__media review__socials'
			'review__text  review__text';
		grid-template-columns: minmax(85px, 2fr) 5fr;
		grid-template-rows: repeat(2, max-content) 1fr;
	}

	@media (min-width: $xs) {
		grid-template-columns: 2fr 3fr;
	}

	@media (min-width: $m) {
		grid-template-areas:
			'review__media review__name     review__socials'
			'review__media review__position review__socials'
			'review__media review__text     review__text';
		grid-template-columns: 2fr max-content 3fr;
		grid-template-rows: max-content max-content 1fr;
	}

	@media (min-width: $l) {
		grid-template-areas:
			'review__media review__name     review__socials'
			'review__media review__position review__socials'
			'review__text  review__text     review__text';
		grid-template-columns: 85px max-content 1fr;
		grid-template-rows: max-content 1fr;
	}
}
